* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", sans-serif;
}

.container {
  display: flex;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.plan {
  flex: 1;
  margin-right: 20px;
}

table {
  border-collapse: collapse; /* 关键属性：合并边框 */
}

th,
td {
  padding: 8px; /* 添加一些内边距，让内容更美观 */
  border: 1px solid black; /* 设置边框样式 */
}
