.container {
  width: 60%;
  margin: 10% auto 0;
  background-color: #f0f0f0;
  padding: 2% 5%;
  border-radius: 10px;
}

ul {
  padding-left: 20px;
}

ul li {
  line-height: 2.3;
}

a {
  color: #20a53a;
}

h1 {
  text-align: center;
  color: #20a53a;
  font-size: 2em;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  /* 从浅蓝到淡紫的渐变 */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
