footer {
  position: relative;
  max-width: 900px;
  padding: 15px 20px;
  margin: 10px auto 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  background: transparent; /* 背景透明 */
  border-radius: 12px; /* 圆角 */
  white-space: nowrap;
}

footer a {
  margin-right: 8px;
  margin-left: 8px;
  text-decoration: none;
  color: #ffe066;
}

footer a:hover {
  text-decoration: underline;
}
